.root {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cell {
  display: inline-block;
  color: #fff;
  width: 250px;
  transition: background 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.cellImage {
  padding: 30px;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 22%;
}

.cellText {
  padding: 30px;
  background: #004717;
  transition: background 0.3s;
}

.cellText:hover {
  background: transparent;
}
