.root {
  width: 700px;
  min-height: 200px;
  height: auto;
  background-color: var(--secondary-color);
  padding: 10px 70px;
}

.profileIcon {
  border: 3px solid white;
}

.profileIcon > img {
  width: auto;
}

/* padding: 10px 20px */
.title {
  font-family: var(--font-lulo-bold);
  font-size: clamp(0.4rem, 5vw, 2.5rem);
  color: var(--primary-color);
  text-align: center;
  margin: 0 auto;
  margin: 10px 0px;
}

.description {
  font-family: var(--font-avenir-thin);
  color: var(--text-color);
  white-space: pre;
  text-wrap: wrap;
}
