.root {
  font-size: clamp(0.4rem, 5vw, 2.5rem);
  font-family: 'Lulo Bold';
}

.root > div:last-of-type {
  display: inline-block;
}

.primary {
  color: var(--primary-color);
}

.subtitle {
  font-size: 24px;
  font-family: var(--font-avenir-thin);
}
