:root {
  --primary-color: #00d646;
  --secondary-color: #333b50;

  --background-color-primary: #121212;
  --background-color-secondary: #1e1e1e;

  --text-color: #ffffff;

  --font-lulo-bold: 'Lulo Bold', Helvetica, Arial;
  --font-lulo-thin: 'Lulo thin', Helvetica, Arial;
  --font-avenir-thin: 'Avenir Light', Helvetica, Arial;
}

@font-face {
  font-family: 'Lulo Bold';
  src: url('.././src/assets/Lulo\ Clean/Lulo Clean One Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Lulo thin';
  src: url('.././src/assets/Lulo\ Clean/Lulo Clean One.otf') format('opentype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Avenir Light';
  src: url('.././src/assets/Avenir\ Light/Avenir Light.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
}

.logo {
  width: clamp(20px, 10vw, 50px);
  display: block;
}
